<!DOCTYPE html>
<html>
<head>
    <title>Crudjs</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Crudjs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" href="/add-news">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<main role="main">
    {{{ body }}}

    <hr>
</main>

<footer class="container">
    <p>&copy; Crudjs 2017-2018 - made with 🖤 by <a href="https://github.com/beamop" target="_blank">beamop</a></p>
</footer>

<script src="../../js/getDate.js" type="text/javascript"></script>

</body>
</html>