<div class="jumbotron">
   <div class="container">
		<h2 class="display-3">{{news.name}}</h2>
	</div>
</div>
<div class="container">
	<p>{{news.content}}</p>
	<p class="wrap">{{dateFormat news.date "dddd, MMMM Do of YYYY"}}</p>
</div>